.App {
  text-align: center;
}

.toggler {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

body {
  transition: background-color 0.3s ease;
}

/* CSS file */
body.dark {
  background-color: #2c3e50;
}

.dark-mode-bg {
  background-color: #1a202c;
}

.dark-mode-text {
  color: #f9fafb;
}
